#ivgaj {
  float:right;
  display:none;
}

#ivh3l-5 {
  max-width:20%;
}

#ias4c {
  align-self:flex-end;
}

#itgd5 {
  align-self:flex-end;
}

#i5q1l {
  align-self:flex-end;
}

#iim6a {
  color:rgb(44, 62, 80);
}

#ir2oc {
  font-size:24px;
}

#i7qtw {
  color:rgb(44, 62, 80);
}

#ieph4 {
  font-size:24px;
  align-self:flex-end;
}

#i5ksr {
  color:rgb(44, 62, 80);
}

#iq6gw {
  font-size:24px;
}

#ipzaj {
  font-size:20px;
}

#imlmj {
  font-size:20px;
}

#itooc {
  font-size:20px;
}

